.logo_img {
    width: 50%;
}

.icon_font_size {
    font-size: 1.2rem;
}

@media (max-width:575px) {
    .icon_font_size {
        font-size: 1rem;
    }
}

.social-media-icons__bar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}