.icon_font_size {
    font-size: 1.2rem;
}

.icons__bar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.logo_img {
    width: 50%;
}


.bio__background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('assets/img/DE-BRUCES-A-MI-MEDELLIN-REGGAE-1536x1000.jpg');
    background-origin: border-box;
    background-clip: border-box;
}

.page-footer {
    margin-top: 9%;
}

.footer__copy-right {
    text-align: right; 
}



 /* Media queries */
@media (max-width:575px) {
    .icon_font_size {
        font-size: 1rem;
    }
}


@media (max-width:767px) {
    .footer__copy-right {
        text-align: center;
        margin-top: 1rem;
    }
}
